*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

#intro #grey_nav{
    position: absolute;
    background-color: rgb(21, 22, 36);
    width: 70%;
    height: 120vh;
    right: 0;
}

#menubar{
    display: none;
}

#intro nav{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 600px;
    font-family: 'Comfortaa', cursive;
    animation: animate 1s;
}

#intro a{
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: 0.5s;
}

#intro a:hover{
    background-color: blue;
}

#intro h2{
    position: relative;
    width: fit-content;
    height: fit-content;
    color: white;
    top: 40px;
    margin-left: 80px;
    font-family: 'Comfortaa', cursive;
    animation: animate 1s;
}

@keyframes animate{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.image{
    position: relative;
    left: -80px;
    top: 130px;
    background-image: url(../portfolio_images/fed_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 600px;
    opacity: 1;
    transition: 1s;
}

.image.show{
    opacity: 1;
    transform: translate(90px);
}

.bio{
    position: relative;
    right: -200px;
    opacity: 0;
    transition: 1s;
    
}

.bio.show{
    opacity: 1;
    transform: translate(-200px);
}

#intro h1{
    position: relative;
    width: fit-content;
    height: fit-content;
    bottom: 350px;
    left: 550px;
    color: white;
    line-height: 70px;
    z-index: 1;
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
}

#intro p{
    position: relative;
    width: fit-content;
    height: fit-content;
    bottom: 350px;
    left: 550px;
    color: white;
    z-index: 1;
    line-height: 25px;
    padding-top: 10px;
    font-family: 'Comfortaa', cursive;
}

#intro span{
    color: green;
}

#education{
    color: white;
    display: flex;
    flex-direction: column;
}

#education h5{
    margin-left: 80px;
    font-size: 17px;
    color: gray;
}

#education h1{
    margin-left: 80px;
    line-height: 100px;
    font-size: 50px;
}

#innov8{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.innov8_image{
    position: relative;
    left: -300px;
    height: 400px;
    width: 600px;
    margin-left: 70px;
    background-image: url(../portfolio_images/innov8_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1s;
}

.innov8_image.show{
    transform: translate(300px);
    opacity: 1;
}

.innov8_bio{
    position: relative;
    right: -200px;
    opacity: 1;
    transition: 1s;
}

.innov8_bio.show{
    transform: translate(-200px);
    opacity: 1;
}

#innov8 p{
    font-size: 23px;
    line-height: 30px;
}

#codecademy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.codecademy_img{
    position: relative;
    left: -300px;
    height: 300px;
    width: 500px;
    margin-left: 70px;
    background-image: url(../portfolio_images/codecademy.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s;
}

.codecademy_img.show{
    transform: translate(400px);
    opacity: 1;
}

.codecademy_bio{
    position: relative;
    right: -200px;
    opacity: 1;
    transition: 1s;
}

.codecademy_bio.show{
    transform: translate(-200px);
    opacity: 1;
}

#codecademy p{
    font-size: 20px;
    line-height: 30px;
}

#experience{
    color: white;
    display: flex;
    flex-direction: column;
}

#experience h5{
    margin-left: 80px;
    font-size: 17px;
    color: gray;
}

#experience h1{
    margin-left: 80px;
    line-height: 100px;
    font-size: 50px;
}

#expimg{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}

img{
    border-radius: 30px;
    filter: grayscale(100%);
    transform: scale(.5);
    transition: .3s;
}

img:hover{
    filter: grayscale(0%);
    transform: scale(.8);
    box-shadow: 5px 5px 8px rgb(255, 255, 255);
}

/* #span1{
    color: white;
    margin-left: 80px;
    line-height: 100px;
    font-size: 50px;
    display: none;
}

img:hover #span1{
    display: block;
}

#span2{
    margin-left: 80px;
    line-height: 100px;
    font-size: 50px;
    display: none;
}

#span3{
    margin-left: 80px;
    line-height: 100px;
    font-size: 50px;
    display: none;
} */

#form{
    display: flex;
    flex-direction: row;
}

#contact p{
    margin-left: 80px;
    color: grey;
    font-size: 30px;
}

form{
    height: 300px;
    width: 400px;
    margin-right: 50px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

label{
    color: white;
    padding: 10px;
}

input{
    width: 400px;
    height: 30px;
    border: none;
    background-color: rgb(21, 22, 36);
    color: white;
    padding: 10px;
}

textarea{
    width: 400px;
    height: 30px;
    border: none;
    background-color: rgb(21, 22, 36);
    color: white;
    padding: 10px;
}

input#submit{
    margin-top: 10px;
    width: 100px;
    background-color: blue;
}

#contact h1{
    margin-left: 80px;
    line-height: 100px;
    font-size: 50px;
    color: white;
}

#profilepic{
    margin-top: 20px;
    margin-left: 80px;
    height: 300px;
    width: 250px;
    background-image: url(../portfolio_images/WhatsApp\ Image\ 2022-11-30\ at\ 17.33.20.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}



@media screen and (max-width: 500px){
    #intro #grey_nav{
        display: block;
        background-color: transparent;
    }

    #menubar{
        display: block;
        height: 50px;
        width: 50px;
        position: relative;
        /* z-index: 2; */
        top: 0px;
        left: 220px;
        background-image: url(../portfolio_images/menu.svg);
        background-size: cover;
    }

    /* #menubar:hover #intro nav{
        display: block;
    } */

    #intro nav{
        top: 50px;
        display: none;
        flex-direction: column-reverse;
        background-color:  rgb(21, 22, 36);
        height: fit-content;
        width: fit-content;   
    }

    .bio{
        z-index: 2;
        left: -530px;
        width: 300px;
        height: 400px;
        opacity: 1;
    }

    .bio.show{
        transform: translate(0px);
    }

    .image{
        width: 100vw;
        left: -90px;
        z-index: -1;
    }

    #intro h2{
        margin-left: 20px;
        top: 20px;
    }

    #innov8{
        display: flex;
        flex-direction: column;
    }

    .innov8_image{
        height: 200px;
        width: 300px;
    }

    .innov8_image.show{
        transform: translate(250px);
    }

    #innov8 p{
        font-size: 15px;
        line-height: 20px;
        padding: 10px;
    }

    #education h5{
        margin-left: 10px;
        font-size: 15px;
    }

    #education h1{
        margin-left: 10px;
        font-size: 30px;
        line-height: 50px;
    }

    #codecademy{
        display: flex;
        flex-direction: column;
        /* padding: 10px; */
    }

    .codecademy_img{
        height: 200px;
        width: 300px;
    }

    .codecademy_img.show{
        transform: translate(300px);
    }

    #codecademy p{
        font-size: 15px;
        line-height: 20px;
        padding: 10px;
    }

    #experience{
        padding-top: 60px;
    }

    #experience h5{
        margin-left: 10px;
        font-size: 15px;
    }

    #experience h1{
        margin-left: 10px;
        font-size: 30px;
        line-height: 50px;
    }

    #expimg{
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    img{
        transform: scale(.8);
        filter: grayscale(0%);
    }

    #contact h1{
        margin-left: 10px;
        font-size: 30px;
        line-height: 50px;
    }

    #contact p{
        margin-left: 10px;
        font-size: 20px;
    }

    #form{
        display: flex;
        flex-direction: column;
    }

    form{
        position: relative;
        align-items: center;
    }

    input{
        width: 300px;
    }
}